
header{
	background: #3B5998;
	color: white;
	width: 100%;
}

.navigation{
	padding: 20px;	
	align-items: center;
	text-align: center;
	display: flex;	
	justify-content: space-around;
}

.logo_fk span{
	font-size: 40px;
}

.bar_search input{
	width: 335px;
	border-radius: 8px;
}

.bar_search .search{
	width: 75px;
	border-radius: 8px;
}
.pseudoUser{
	padding: 0px;
	width: 12%;
}

.pseudoUser img{ 
	width: 55%;
	border: 0px solid rgba(0, 0, 0, 1);
	border-radius: 40%; 
}

.logout {
	border-radius: 6px;
	background: red;
	color: white;
}
