body{
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI'; 
}

/* Header */
header{
	background: #3B5998;
	color: white;
	width: 100%;
}

.connection{
	display: flex;
	justify-content: space-around;
	padding: 20px;	
	align-items: center;
}

.logo_fk span{
	font-size: 40px;
}

.connection img{
	width: 20%;
	display: none;
}

.login input{
	padding: 4px;
	border-radius: 9px;
}

.login form #connexion{
	border-radius: 10px;
	width: 100px;
	padding: 7px;
	color: white;
	background:#3B5998;
	margin-left: 15px;
}

.forget_password a{
	text-decoration: none;
	color: white;
	font-size: 14px;
	
}

/* Main */
.main{
	background: #ECEEFC;
	width: 100%;
}

.register{
	display: flex;
	justify-content: space-around;
	padding: 25px;
	align-items: center;
	width: 100%;
}

.connected_people{
	width: 50%;
}

.connected_people p{
	color: #38468B;
	font-size: 30PX;
}

.connected_people img{
	width: 100%;
}

.inscritpion{
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: center
}

.inscritpion form{
	align-items: center;
	text-align: center;
}

.inscritpion input{
	margin: 5px;
	padding: 3px;
	border-radius: 6px;
}


.inscritpion #inscription{
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 5px;
	width: 180px;
	padding: 10px;
	margin-left: 50%;
    transform: translateX(-50%);
	background: #36cf0f;
	color: WHITE;
	font-size: 18px;
}

/* media screen */

@media (max-width: 725px) {
  .logo_fk img{
    display: flex;
  }
  .logo_fk span{
	  display: none;
  }
}

@media (max-width: 650px) {
  .connected_people{
    display: none;
  }
  .login form input{
	margin: 5px;
  }
  .login form #connexion{
	margin-left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 450px) {
  .logo_fk img{
    display: none;
  }
  
}