*{
	margin: 0;
	padding: 0; 
	box-sizing: border-box;
}

body{
	
	min-height: 100%;
	font-family: 'Segoe UI'; 
}

/* Header */
header{
	background: #3B5998;
	color: white;
	width: 100%;
}

.navigation{
	display: flex;
	justify-content: space-around;
	padding: 20px;	
	align-items: center;
}

.logo_fk img{
	width: 10%;
	padding: 0;
}

.logout{
	border-radius: 6px;
	background: red;
	color: white;
}

/* main */
.main{
	background: #ECEEFC;
	width: 100%;
}

.info_Profil{

}



.info_Profil ul li{
	list-style-type: none;
}