
body{
	font-family: 'Segoe UI'; 
	margin: 0;
	padding: 0; 	
	
	min-height: 100vh;
}

/* Header */
header{
	background: #3B5998;
	color: white;
	width: 100%;
}

.navigation{
	padding: 20px;	
	align-items: center;
	text-align: center;
	display: flex;	
	justify-content: space-around;
}

.logo_fk span{
	font-size: 40px;
}

.bar_search input{
	width: 335px;
	border-radius: 8px;
}

.bar_search .search{
	width: 75px;
	border-radius: 8px;
}
.pseudoUser{
	padding: 0px;
	width: 12%;
}

.pseudoUser img{ 
	width: 55%;
	border: 0px solid rgba(0, 0, 0, 1);
	border-radius: 40%; 
}

.logout {
	border-radius: 6px;
	background: red;
	color: white;
}

/* main */
.main{
	background: #ECEEFC;
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding:20px;
}

/* Profile Update*/
.profileUpdate{
	width: 25%; 
	background: white ;
	border-radius: 15px;
}

.profileUpdate form input{
	border-radius: 8px;
	margin: 5px;
	width: 250px;
}

/* chat */
.chat{
	 width: 50%; 
	/* margin-left: 50%;
    transform: translateX(-50%); */
}

.chat .messages {
  background-color: #4e71ba;
  border-radius: 5px;
  padding: 1em;
  height: 30vh;
  overflow: auto;
}

.chat .message {
  color: white;
  padding: 0.3em;
}

.chat .date, .pseudo {
  font-weight: bold;
}

.chat .user_input form {
  display: flex;
  margin-top: 1em;
  justify-content: space-between;
}

.chat .user_input input, button {
  padding: 0.5em;
}

.chat .user_input input {
  margin-right: 10px;
  border-radius: 8px;
}

#pseudo {
  width: 20%;
  display: none;
}

#content {
  width: 80%;
}

.chat .user_input .go{
  width: 20%;
  border-radius: 8px;
}