{% extends "layout.twig" %}

{% block body %}
	<div class="main">
		{{ include('part/menuBurger.twig') }}
		<div class="middleSide">
			<h1>Mot de passe oublié</h1>
			<div class="forgotPassword">
				<form action="" method="POST">
					<input type="email" name="email" placeholder="Entrez votre email*">
					<input type="submit" name="submit">
				</form>
			</div>
		</div>
	</div>
 {% endblock %}
